
.container{
    /* background-color: green; */
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}
.cards{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cardImg{
    width: 200px;
    height: 300px;
}
.cardDesc{
    width: 400px;
}
.menuIcon{
    /* color: red; */
    /* background-color: red; */
    width: 30px;
    margin-left: 30px;
   
    font-size: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    position: absolute;
}
.menuClose{
    width: 30px;
    margin-left: 250px;
   
    font-size: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    position: absolute;
}
.aside{
    background-color: rgba(243, 201, 33, 0.724);
    box-shadow: 0 0 50px 10px inset;
    width: 350px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0px;
    color: black;
    animation: move 0.5s linear;
    padding-left: 40px;
   
}
@keyframes move{
    0%{
        left: -300px;
    }
    100%{
        left: 0;
    }
}