.login{
    width: 500px;
    height: 350px;
    background-color: rgb(224, 172, 93);
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 10px inset;
    overflow: hidden;
    
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.input{
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
}
.label{
    margin: 10px 0;
}
.button{
    width: 100px;
    margin: auto;
    margin-top: 20px;
}